* {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.pt--reg {
	padding-top: 15px;
}
.pb--reg {
	padding-bottom: 15px;
}
.text-center {
	text-align: center;
}
.text {
	margin-top: 10px;
	margin-bottom: 10px;
}
.text--reg {
	font-size: 14px;
}